.push {
	clear: both;
}
#app {
	text-align: center;
	margin-top: 80px;
}
/* entire container, keeps perspective */
.container {
	margin: 0 auto;
}
.card-container {
	perspective: 1000px;
	display: inline-block;
	margin: 0 auto;
	margin-right: 20px;
	margin-bottom: 20px;
}
	/* flip the pane when hovered */
/*	.card-container:hover .card-box {
		transform: rotateY(180deg);
	}
*/
	.card-flip {
		transform: rotateY(180deg);
	}
.card-container, .card-front, .card-back {
	width: 200px;
	height: 200px;
}
.card-front {
	background-color: gray;
}
.card-back {
	/*background-color: red;*/
}
/* flip speed goes here */
.card-box {
	transition: 0.6s;
	transform-style: preserve-3d;
	height: 100%;
	position: relative;
}

/* hide back of pane during swap */
.card-front, .card-back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.card-front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.card-back {
	transform: rotateY(180deg);
}
